API_ID=30893967
API_HASH=a8032bf9a402db409a3df4e46da0ee3d
PHONE=+12343947579         # userbot phone
OGU_BOT_TOKEN=8990315572:AAHqZjovQWexpUTXU_uWSVq7EXwvkjbDyvY
CRYPTO_BOT_TOKEN=8811737166:AAF62IhoWNYv6RB13PcSl3DnttYJ5prMiOA
ADMIN_USER_ID=8685177692,8966222435  # only this user can use /rec /ref /lock /tos /mute etc.
OGU_BOT_USERNAME=OGUMMdbot
CRYPTO_BOT_USERNAME=spondscryptobot
GROUP_PHOTO=group_logo.jpg